$base-color: #272E33;
$base-color-darker: #272E33;
$lighter-gray: #8D9890;
$light-gray: #859289;

$black: #1E2326;
$white: #D3C6AA;

$gray: #7A8478;
$red: #E67E80;
$orange: #E69875;
$yellow: #DBBC7F;
$green: #A7C080;
$blue: #7FBBB3;
$purple: #D699B6;

$dark-gray: #5D6B66;
$dark-red: #F85552;
$dark-orange: #F57D26;
$dark-yellow: #DFA000;
$dark-green: #8DA101;
$dark-blue: #3A94C5;
$dark-purple: #DF69BA;

$darker-red: #F85552;
