// color definlitions 
$base-color: #3c3836;
$base-color-darker: #282828;
$lighter-gray: #A89984;
$light-gray: #7c6f64;

$black: #1d2021;
$white: #fbf1c7;

$gray: #665c54;
$red: #fb4934;
$orange: #fe8019;
$yellow: #fabd2f;
$green: #b8bb26;
$blue: #83a598;
$purple: #d3869b;

$dark-gray: #504945;
$dark-red: #cc241d;
$dark-orange: #d65d0e;
$dark-yellow: #d79921;
$dark-green: #98971a;
$dark-blue: #458588;
$dark-purple: #b16286;

$darker-red: #9d0006;
