.charging,
.loading {
    color: $blue;
}

.suspend,
.sleep {
    color: $purple;
}

.empty,
.disabled {
    color: $lighter-gray;
}

.good {
    color: $green;
}

.warning {
    color: $yellow;
}

.critical,
.error {
    color: $red;
}
