.charging,
.loading {
  color: #7FBBB3; }

.suspend,
.sleep {
  color: #D699B6; }

.empty,
.disabled {
  color: #8D9890; }

.good {
  color: #A7C080; }

.warning {
  color: #DBBC7F; }

.critical,
.error {
  color: #E67E80; }

.resizeable {
  min-width: 0px;
  min-height: 0px; }

.unset {
  all: unset; }

.transparent {
  opacity: 0.85; }

.shadow {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4); }

button {
  background: #1E2326;
  color: #D3C6AA; }

.circular-progress-status {
  font-size: 6px;
  margin: 4px;
  background: #414B50; }

.circular-progress-status.font {
  font-size: 12px;
  font-weight: bold;
  background: rgba(0, 0, 0, 0); }

.circular-progress-status.font.network {
  font-size: 20px; }

.circular-progress-status.font.network.hover {
  font-size: 12px; }

.circular-progress-slider {
  min-width: 3.5em;
  min-height: 3.5em;
  color: #D3C6AA;
  font-size: 6px;
  background: #414B50; }

.circular-progress-slider.font {
  color: #D3C6AA;
  font-size: 14px;
  font-weight: bold;
  background: rgba(0, 0, 0, 0); }

/* workspace component */
.workspaces {
  background: #1E2326;
  padding: 11px 16px;
  margin: 6px 0px;
  border-radius: 8px; }

.workspace {
  background: #859289;
  border-radius: 4px;
  padding: 0px 6px; }
  .workspace.occupied {
    background: #7FBBB3; }
  .workspace.focused {
    background: #A7C080;
    padding: 0px 10px;
    margin: -1px 0px; }

.workspace.occupied, .workspace.focused, .workspace:not(:last-child) {
  transition: unset;
  margin-right: 8px; }

.quick-control {
  border-radius: 1em;
  transition: color 0.25s ease, background 0.25s ease; }
  .quick-control.hover {
    background: #374145;
    color: #859289; }
  .quick-control.is_muted {
    color: #E67E80;
    background: #F85552; }
  .quick-control.is_muted.hover {
    color: #F85552;
    background: #F85552; }
  .quick-control.icon {
    color: #D3C6AA; }
  .quick-control.icon.is_muted {
    color: #E67E80; }
  .quick-control.font {
    color: #D3C6AA; }

.quick-control.hover {
  transition: color 0.25s ease, background 0.25s ease; }

.quick-control.hover.font, .quick-control.icon.hover {
  background: rgba(0, 0, 0, 0); }

.quick-control.is_muted {
  transition: color 0.25s ease, background 0.25s ease; }

.quick-control.is_muted.font, .quick-control.icon.is_muted {
  background: rgba(0, 0, 0, 0); }

.quick-control.hover\.is_muted {
  transition: color 0.25s ease, background 0.25s ease; }

.quick-control.hover\.is_muted.font, .quick-control.icon.hover\.is_muted {
  background: rgba(0, 0, 0, 0); }

.control-center .container {
  background: #272E33;
  padding: 1em;
  margin: 0.5em;
  border-radius: 0.75em;
  border: 0.05em solid #414B50;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4); }

.launcher-button {
  margin: 4px;
  padding: 0px 8px 0px 8px;
  background: #1E2326;
  color: #D3C6AA;
  font-size: 20px;
  font-weight: bold; }

.launcher-button:active {
  background: #414B50;
  color: #1E2326; }

.launcher-title {
  color: #D3C6AA;
  font-weight: bold;
  font-size: 16px; }

.launcher-container {
  margin: 1em;
  background: #272E33;
  border: 0.05em solid #414B50;
  border-radius: 1em; }

.launcher-contents {
  margin: 1em 0em; }

.launcher-entry {
  box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.3);
  background-color: #1E2326;
  border: 0.1em solid #374145;
  padding: 1.40em;
  border-radius: 0.5em;
  font-size: 14px; }

.launcher-entry > * {
  color: #D3C6AA; }

.launcher-item {
  background-color: #414B50;
  border: 0.2em solid #414B50;
  border-radius: 0.5em;
  color: #D3C6AA;
  padding: 0.6em;
  margin: 0em 1em;
  transition: all 0.25s ease; }
  .launcher-item .title {
    font-size: 16px; }

.launcher-item.focused {
  background: #859289;
  color: #1E2326;
  border: 0.2em solid #A7C080;
  transition: all 0.25s ease;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
  font-weight: bold; }

.launcher-entry.focused {
  background-color: #1E2326;
  border: 0.2em solid #A7C080;
  padding: 1.30em;
  color: #D3C6AA; }

scrollbar,
scrollbar * {
  all: unset; }

scrollbar slider {
  background: #414B50;
  min-height: 0.1em;
  min-width: 0.4em;
  border-radius: 0.25em; }
  scrollbar slider:hover {
    background: #859289; }

* {
  font-family: JetBrainsMono NerdFont Mono; }

.bar-container {
  background: #272E33;
  padding: 0.25em; }

.user {
  border-radius: 4em;
  background-image: url("./assets/frieren.png");
  background-size: cover;
  border: 2px solid #D3C6AA; }

.time {
  color: #D3C6AA;
  font-size: 16px;
  font-weight: bolder;
  padding: 0px 0px 0px 1rem;
  margin: 4px 0px 4px 0px;
  background: #414B50;
  border-radius: 1em; }

.hour {
  color: #DBBC7F;
  font-weight: bolder; }

.time-component {
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
  font-size: 15px;
  font-weight: bolder;
  background: #414B50;
  padding: 0rem 1rem 0rem 0.5rem;
  border-radius: 2em 0.75em 0.75em 2em;
  margin: 0.3em 0.2em; }

.time-suffix {
  font-size: 11px;
  font-weight: bolder;
  color: #DBBC7F;
  padding-bottom: 4px;
  padding-left: 0.4rem;
  margin: 0em 0.2em; }

.date-component {
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
  font-size: 15px;
  font-weight: bolder;
  background: #414B50;
  padding: 0rem 0.5rem 0rem 1rem;
  border-radius: 0.75em 2em 2em 0.75em;
  margin: 0.3rem 0.2rem; }

.date-suffix {
  font-size: 11px;
  font-weight: bolder;
  color: #A7C080;
  padding-bottom: 5px;
  padding-right: 0.4rem;
  margin: 0.2rem; }

.date {
  color: #A7C080; }

.system-tray {
  background: #1E2326;
  padding: 0em 0.5em 0em 0.5em;
  border-radius: 0.75em; }

.system-tray-item {
  color: #fff;
  background: #414B50;
  border-radius: 0.25em;
  padding: 4px;
  margin: 8px 0px; }

.tool-tray {
  background: #1E2326;
  padding: 0.25em 0.45em;
  margin: 0.25em 0em;
  border-radius: 0.5em; }

.tool-tray-item {
  color: #D3C6AA;
  background: #414B50;
  border-radius: 0.25em;
  padding: 0em 0.5em;
  margin: 2px 0px; }

.quick-controls-container {
  background: #1E2326;
  padding: 0em 0.5em 0em 0.5em;
  border-radius: 0.75em; }

.notify-icon {
  min-width: 68px;
  min-height: 68px;
  margin-right: 1em; }

.notify-icon image {
  font-size: 72px;
  /* to center the icon */
  margin: -16px;
  margin-left: -2px; }

.notify-icon box {
  min-width: 68px;
  min-height: 68px;
  border-radius: 0.25em; }

.notification {
  min-width: 24em;
  border-radius: 11px;
  padding: 1.25em;
  margin: 0.5em;
  border: 1px solid #272E33;
  background-color: #272E33;
  border: 0.05em solid #414B50;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4); }

.notification.critical {
  border: 1px solid lightcoral; }

.title {
  color: #D3C6AA;
  font-weight: bolder;
  font-size: 1.25em; }

.body {
  color: #8D9890; }

.actions .action-button {
  margin: 0 0.4em;
  margin-top: 0.8em;
  background: #1E2326;
  color: #D3C6AA; }
  .actions .action-button:hover {
    background: #D3C6AA;
    color: #1E2326; }

.actions .action-button:first-child {
  margin-left: 0; }

.actions .action-button:last-child {
  margin-right: 0; }

.player {
  padding: 10px;
  min-width: 350px; }

.player .img {
  min-width: 100px;
  min-height: 100px;
  background-size: cover;
  background-position: center;
  border-radius: 13px;
  margin-right: 1em; }

.player {
  min-width: 25em;
  background: #272E33;
  color: #D3C6AA;
  border-radius: 0.75em;
  padding: 1.25em;
  margin: 0.5em;
  border: 0.05em solid #414B50; }

.player .img {
  border-radius: 0.25em;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
  padding: 0.4em; }

.player .icon {
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
  font-size: 16px;
  font-weight: bold; }

.player .title {
  font-size: 1.2em;
  font-weight: bold;
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
  color: #DBBC7F; }

.player .artist {
  font-size: 1.1em;
  color: #859289; }

.player .position,
.player .length {
  color: #859289; }

.player scale.position {
  padding: 0;
  margin: 1em 0em 0.5em 0em; }

.player scale.position trough {
  padding: 0.31em;
  border-radius: 1em;
  background: #1E2326; }

.player scale.position highlight {
  background-color: #D3C6AA;
  margin: 0.2em; }

.player scale.position slider {
  box-shadow: none;
  transition: none;
  margin: -1px;
  min-width: 12px;
  min-height: 12px;
  background: #D3C6AA;
  background: transparent; }

.player button {
  min-height: 1em;
  min-width: 1em;
  padding: .3em;
  background: #1E2326;
  color: #D3C6AA; }

.player button:hover {
  background: #D3C6AA;
  color: #1E2326; }

.player button.play-pause {
  margin: 0 .3em; }

.player-container {
  background: rgba(0, 0, 0, 0); }

.toggle-media-player-icon {
  margin: 0.4rem 0rem;
  box-shadow: 0px 0px 6px -3px black;
  background: #414B50;
  border: 1.5px solid #374145;
  border-radius: 0.4rem; }

.toggle-media-player {
  background: #272E33;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.4);
  border: 1.5px solid #1E2326;
  background-size: cover;
  border-radius: 0.2em;
  min-width: 1.05em;
  margin: 0.1em; }
  .toggle-media-player:hover {
    opacity: 0.75; }
  .toggle-media-player:active {
    opacity: 0.5;
    transition: background 0.1s; }

.speaker-osd-window {
  background: rgba(0, 0, 0, 0); }

.speaker-osd-container {
  min-width: 10em;
  min-height: 0.5em;
  padding: 1em;
  margin: 1em;
  background: #272E33;
  border: 0.05em solid #414B50;
  border-radius: 0.75em; }

.speaker-osd-icon {
  margin-right: 0.5em;
  color: #D3C6AA;
  font-size: 18px;
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5); }

.speaker-osd-slider trough {
  min-height: 0.5em;
  border-radius: 1em;
  padding: 0.4em;
  background: #1E2326;
  border: 0.05em solid #374145; }

.speaker-osd-slider slider {
  all: unset; }

.speaker-osd-slider highlight {
  background: #D3C6AA; }

button.poweroff:hover {
  background: #E67E80;
  color: #1E2326; }

button.poweroff:active {
  background: #F85552;
  color: #1E2326; }

button.reboot:hover {
  background: #DBBC7F;
  color: #1E2326; }

button.reboot:active {
  background: #DFA000;
  color: #1E2326; }

button.logout:hover {
  background: #7FBBB3;
  color: #1E2326; }

button.logout:active {
  background: #3A94C5;
  color: #1E2326; }

button.suspend {
  color: #D3C6AA; }
  button.suspend:hover {
    background: #D699B6;
    color: #1E2326; }
  button.suspend:active {
    background: #DF69BA;
    color: #1E2326; }

.playing-song-label {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 4px; }

.clock-time-label {
  font-family: Outfit Extrabold;
  font-size: 172px;
  color: #272E33; }

.clock-day-label {
  font-family: Outfit ExtraBold;
  font-size: 24px;
  letter-spacing: 12px;
  margin-top: -32px; }
